USE [master]
GO
/****** Object:  Database [EstateDB]    Script Date: 9.06.2023 13:14:25 ******/
CREATE DATABASE [EstateDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EstateDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EstateDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EstateDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EstateDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EstateDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EstateDB]
GO
/****** Object:  Table [dbo].[AboutUsTable]    Script Date: 9.06.2023 13:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutUsTable](
	[aboutUsID] [int] IDENTITY(1,1) NOT NULL,
	[aboutUsText] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AboutUsTable] PRIMARY KEY CLUSTERED 
(
	[aboutUsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityTable]    Script Date: 9.06.2023 13:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityTable](
	[cityID] [int] IDENTITY(1,1) NOT NULL,
	[cityName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CityTable] PRIMARY KEY CLUSTERED 
(
	[cityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactTable]    Script Date: 9.06.2023 13:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactTable](
	[contactID] [int] IDENTITY(1,1) NOT NULL,
	[contactPhone] [nvarchar](30) NOT NULL,
	[contactMail] [nvarchar](100) NOT NULL,
	[contactAdress] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ContactTable] PRIMARY KEY CLUSTERED 
(
	[contactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoodTable]    Script Date: 9.06.2023 13:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoodTable](
	[hoodID] [int] IDENTITY(1,1) NOT NULL,
	[hoodName] [nvarchar](100) NOT NULL,
	[hoodCityID] [int] NOT NULL,
 CONSTRAINT [PK_HoodTable] PRIMARY KEY CLUSTERED 
(
	[hoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyTable]    Script Date: 9.06.2023 13:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyTable](
	[propertyID] [int] IDENTITY(1,1) NOT NULL,
	[propertyTitle] [nvarchar](200) NOT NULL,
	[propertyPrice] [int] NOT NULL,
	[propertyCity] [nvarchar](50) NOT NULL,
	[propertyHood] [nvarchar](50) NOT NULL,
	[propertyType] [nvarchar](50) NOT NULL,
	[propertyRoom] [nvarchar](50) NULL,
	[propertyPhotos] [nvarchar](max) NOT NULL,
	[propertyApprove] [smallint] NOT NULL,
 CONSTRAINT [PK_PropertyTable] PRIMARY KEY CLUSTERED 
(
	[propertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 9.06.2023 13:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[UsedID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[UserSurname] [nvarchar](50) NOT NULL,
	[UserMail] [nvarchar](50) NOT NULL,
	[UserPassword] [nvarchar](64) NOT NULL,
	[UserRegisterDate] [date] NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[UsedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AboutUsTable] ON 

INSERT [dbo].[AboutUsTable] ([aboutUsID], [aboutUsText]) VALUES (1, N'')
SET IDENTITY_INSERT [dbo].[AboutUsTable] OFF
GO
SET IDENTITY_INSERT [dbo].[CityTable] ON 

INSERT [dbo].[CityTable] ([cityID], [cityName]) VALUES (1, N'Ankara')
INSERT [dbo].[CityTable] ([cityID], [cityName]) VALUES (2, N'Gaziantep')
SET IDENTITY_INSERT [dbo].[CityTable] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactTable] ON 

INSERT [dbo].[ContactTable] ([contactID], [contactPhone], [contactMail], [contactAdress]) VALUES (1, N'+90 551 444 23 23', N'emlaknet@gmail.com', N'İstanbul/Beşiktaş')
SET IDENTITY_INSERT [dbo].[ContactTable] OFF
GO
SET IDENTITY_INSERT [dbo].[HoodTable] ON 

INSERT [dbo].[HoodTable] ([hoodID], [hoodName], [hoodCityID]) VALUES (3, N'Keçiören', 1)
INSERT [dbo].[HoodTable] ([hoodID], [hoodName], [hoodCityID]) VALUES (4, N'Karataş', 2)
SET IDENTITY_INSERT [dbo].[HoodTable] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyTable] ON 

SET IDENTITY_INSERT [dbo].[PropertyTable] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTable] ON 

INSERT [dbo].[UserTable] ([UsedID], [UserName], [UserSurname], [UserMail], [UserPassword], [UserRegisterDate]) VALUES (16, N'Admin', N'Admin', N'admin@gmail.com', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', CAST(N'2023-06-09' AS Date))
INSERT [dbo].[UserTable] ([UsedID], [UserName], [UserSurname], [UserMail], [UserPassword], [UserRegisterDate]) VALUES (17, N'exp', N'exp', N'example@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', CAST(N'2023-06-09' AS Date))
SET IDENTITY_INSERT [dbo].[UserTable] OFF
GO
ALTER TABLE [dbo].[PropertyTable] ADD  CONSTRAINT [DF_PropertyTable_propertyApprove]  DEFAULT ((0)) FOR [propertyApprove]
GO
ALTER TABLE [dbo].[UserTable] ADD  CONSTRAINT [DF_UserTable_UserRegisterDate]  DEFAULT (getdate()) FOR [UserRegisterDate]
GO
ALTER TABLE [dbo].[HoodTable]  WITH CHECK ADD  CONSTRAINT [FK_HoodTable_CityTable] FOREIGN KEY([hoodCityID])
REFERENCES [dbo].[CityTable] ([cityID])
GO
ALTER TABLE [dbo].[HoodTable] CHECK CONSTRAINT [FK_HoodTable_CityTable]
GO
USE [master]
GO
